  body
  {
      color :darkcyan;
      background: darkgreen;
  }
  .heading
  {
      width: 80px;
      font-size: 22px;
  }
  #camera
  {
      border: 2px dashed peru;
      width: 350px;
      height: 300px;
  }
  .name_of_objects, #result_object_name , #result_object_accuracy
  {
      color: purple;
  }
